* {
    scrollbar-color: var(--colorScrollbarOverlay) transparent;
}

*::-webkit-scrollbar,
* scrollbar {
    width: 1rem;
    height: 1rem;
}

*::-webkit-scrollbar-track,
* scrollbar-track {
    background: var(--colorScrollbarOverlay);
}

*::-webkit-scrollbar-thumb,
* scrollbar-thumb {
    background: var(--colorScrollbarOverlay);
    border-radius: var(--borderRadiusCircular);
    border: 3px solid transparent;
}
